.THIS.body { height: 75%; }

        .THIS.body {
          margin: 0;
          background: linear-gradient(#eeeeee, #cccccc);
          overflow: hidden;
        }
.THIS {
}
.THIS #containerdiv {
    margin-top: 100px;
}

.THIS.dropContent{
    border-radius: 82px;
    padding: 73px 100px;
    border: 1px dashed #060606;
    background-color: #dedede;
}
.THIS.draggableIcon{
	height: 150px;
	width: 150px;
	border-radius: 76px;
}
.THIS .parentCircle
    {
        position: relative;
        width: 120px;
        height: 120px;
        background-color: #CD853F;
        border-radius: 50%;
        margin: 150px;
    }
.THIS .div2
    {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: #FFFFFF;
        border-radius: 100px;
    	border: 1px dashed #060606;
    }
.THIS .div1 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
.THIS#outer-dropzone {
  height: 140px;
}

.THIS#inner-dropzone {
  height: 80px;
}

.THIS.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.THIS.drop-active {
  border-color: #aaa;
}

.THIS.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.THIS.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.THIS.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}
.THIS .objectTypeCircle{
        position: relative;
        width: 50px;
        height: 50px;
        background-color: #CD853F;
        border-radius: 50%;
}
.THIS .objectTypeSquare
    {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: #CD853F;
}
.THIS .parentTable
    {
        position: relative;
        width: 120px;
        height: 36px;
        background-color: #CD853F;
   		margin : 80px;
   }
.THIS .defaultSeat
    {
        position: relative;
        width:  20px;
        height: 20px;
        border: 1px dashed #060606;
   		margin : 60px 0px -108px 53px;
    }
.THIS .defaultSeat1
    {
        position: relative;
        width:  20px;
        height: 20px;
        border: 1px dashed #060606;
   		margin : -108px 0px 0px 208px;
    }
.THIS .chair
    {
    	display: inline-block;
        width: 20px;
    	height: 20px;
    	/*border: 1px dashed #060606;*/
    	margin: -25px 10px 0px 0px;
    }
.THIS .lm
    {
    	margin-left: 100px;
    }

/* Tables csss*/
/*.THIS .selector {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 140px;
          height: 140px;
          margin-top: -70px;
          margin-left: -70px;
        }

    .THIS .selector,
        .THIS .selector button {
          font-family: 'Oswald', sans-serif;
          font-weight: 300;
        }

        .THIS .selector button {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 20px;
          background: #428bca;
          border-radius: 50%;
          border: 0;
          color: white;
          font-size: 20px;
          cursor: pointer;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
          transition: all .1s;
        }

        .THIS .selector button:hover { background: #3071a9; }

        .THIS .selector button:focus { outline: none; }

        .THIS .selector ul {
          position: absolute;
          list-style: none;
          padding: 0;
          margin: 0;
          top: -20px;
          right: -20px;
          bottom: -20px;
          left: -20px;
        }

        .THIS .selector li {
          position: absolute;
          width: 0;
          height: 100%;
          margin: 0 50%;
          -webkit-transform: rotate(-360deg);
          transition: all 0.8s ease-in-out;
        }

        .THIS .selector li input { display: none; }

        .THIS .selector li input + label {
          position: absolute;
          left: 50%;
          bottom: 100%;
          width: 0;
          height: 0;
          line-height: 1px;
          margin-left: 0;
          background: #fff;
          border-radius: 50%;
          text-align: center;
          font-size: 1px;
          overflow: hidden;
          cursor: pointer;
          box-shadow: none;
          transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
        }

        .THIS .selector li input + label:hover { background: #f0f0f0; }

       .THIS .selector li input:checked + label {
          background: #5cb85c;
          color: white;
        }

        .THIS .selector li input:checked + label:hover { background: #449d44; }

        .THIS .selector.open li input + label {
          width: 80px;
          height: 80px;
          line-height: 80px;
          margin-left: -40px;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
          font-size: 14px;
        }*/
/* audience */
.THIS .row-seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}


.THIS .row-seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 50%;
}


.THIS ol {
  list-style :none;
  padding: 0;
  margin: 0;
}
.THIS input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.THIS input[type=checkbox]:checked + label  {

    background: #F4D03F; /*#5cb85c;*/
    -webkit-animation-name: rubberBand;
        animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;

}

.THIS .boothSeatlabel {
  background: #F4D03F;/* #5cb85c;*/
  -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.THIS .audiencelabel {
  background: #F4D03F;/* #5cb85c;*/
  -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.THIS .row-seat {
  display: flex;
  flex: 0 0 53.285714px;/*0 0 14.28571428571429%;*/
  padding: 5px;
  position: relative;
  /*&:nth-child(3) {
    margin-right: 14.28571428571429%;
  }
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
  input[type=checkbox]:checked {
    + label {
      background: #bada55;
      -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
      animation-duration: 300ms;
      animation-fill-mode: both;
    }
  }
  input[type=checkbox]:disabled {
    + label {
      background: #dddddd;
      text-indent: -9999px;
      overflow: hidden;
      &:after {
        content: "X";
        text-indent: 0;
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translate(-50%, 0%);
      }
      &:hover {
        box-shadow: none;
        cursor: not-allowed;
      }
    }*/
  }

  .THIS .audiencelabel {
    display: block;
    position: relative;
    width: 46px;/*100%;*/
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    /*background: #F42536;
    border-radius: 5px;*/
    background-color: #2471A3;
    border-radius: 150px;
    border: 4px solid #D0D3D4;
    animation-duration: 300ms;
    animation-fill-mode: both;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
     color: white;
    /*&:before {
      content: "";
      position: absolute;
      width: 75%;
      height: 75%;
      top: 1px;
      left: 50%;
      transform: translate(-50%, 0%);
      background: rgba(255,255,255,.4);
      border-radius: 3px;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0px 2px #5C6AFF;
    }*/

  }

  .THIS .boothSeatlabel {
    display: block;
    position: relative;
    width: 67px;/*100%;*/
    text-align: center;
    font-size: small;
    font-weight: 100;
    line-height: 1.5rem;
    padding: 4px 0;
    /*background: #F42536;
    border-radius: 5px;*/
    background-color: #2471A3;
    /*border-radius: 150px;*/
    border: 4px solid #D0D3D4;
    animation-duration: 300ms;
    animation-fill-mode: both;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
     color: white;
    /*&:before {
      content: "";
      position: absolute;
      width: 75%;
      height: 75%;
      top: 1px;
      left: 50%;
      transform: translate(-50%, 0%);
      background: rgba(255,255,255,.4);
      border-radius: 3px;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0px 2px #5C6AFF;
    }*/

  }

.THIS .chair
    {
    	display: inline-block;
        width: 33px;
    	height: 20px;
    	/*border: 1px dashed #060606;*/
    	margin: -10px 12px 0px 0px;
    }