.THIS {
}

.THIS .boothSeatlabel {
  background: #F4D03F;/* #5cb85c;*/
  -webkit-animation-name: rubberBand;
      animation-name: rubberBand;
  animation-duration: 300ms;
  /*animation-fill-mode: both;*/
}

.THIS .boothSeatlabel {
    display: block;
    position: relative;
    width: 67px;/*100%;*/
    text-align: center;
    font-size: small;
    font-weight: 100;
    line-height: 1.5rem;
    padding: 4px 0;
    /*background: #F42536;
    border-radius: 5px;*/
    background-color: #2471A3;
    /*border-radius: 150px;*/
    border: 4px solid #D0D3D4;
    animation-duration: 300ms;
    animation-fill-mode: both;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
     color: white;

  }

.THIS .chair
    {
    	display: inline-block;
        width: 33px;
    	height: 20px;
    	/*border: 1px dashed #060606;*/
    	margin: -10px 12px 0px 0px;
    }